body {
	line-height: 1.5;
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 2em;
}

pre, code, kbd {
	font-family: 'Roboto Mono', monospace;
}

header {
	background: #f0f0f0;
	padding: 1em;
	margin-bottom: 1em;
}

header h1 {
	margin: 0 1em 0 0;
	display: inline-block;
	font-size: 1em;
}

header nav {
	display: inline-block;
}

header nav ul,
table caption ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav li,
table caption li {
	display: inline-block;
	margin: 0 1em;
}

table caption {
	text-align: left;
	padding: 1em 0;
}

.rte {
	-webkit-user-modify: read-write-plaintext-only;
	border: 1px solid lightGray;
	padding: 0.5em;
	outline: none;
	margin: 1em 0;
}

.rte:focus {
	border-color: blue;
}

.logger {}

.logger__table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.8em;
}

.logger__table th,
.logger__table td {
	text-align: left;
	padding: 0.2em 0.3em;
}

.logger__table th {
	border: 1px solid #ddd;
}

.logger__row {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #ddd;
}

.logger__row--KeyboardEvent,
.logger__row--SyntheticKeyboardEvent {
	background-color: #e0f2f1; /* teal */
	border-color: #aebfbe;
}

.logger__row--InputEvent,
.logger__row--SyntheticInputEvent {
	background-color: #f9fbe7; /* lime */
	border-color: #c6c8b5;
}

.logger__row--CompositionEvent,
.logger__row--SyntheticCompositionEvent {
	background-color: #fff3e0; /* orange */
	border-color: #ccc0ae;
}

.logger__row--native-counterpart {
	font-size: 0.9em;
	color: #777;
}

.logger__table pre, 
.logger__table code,
.logger__table kbd {
	margin: 0;
}

.bool {
}

.bool--true {
	color: green;
}

.bool--false {
	color: red;
	font-size: 1.2em;
}

.bool--undefined {
	color: orange;
}

.flex__container {
	display: flex;
	width: 100%;
}

.flex__item {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 1;
	margin: 0 1em;
}